<!DOCTYPE html>
<html lang="es-la">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecto MVT Andres Barcia </title>
</head>
<body>

    ¡Bienvenidos al sitio!

    <p>Hoy es: {{fecha_a}}.</p>

    <p>Te presento a los integrantes de mi familia: </p>

    <p>{{ familia }}.</p>

    <p>Sus edades son: </p>

    <p>{{ edades }}</p>

</body>
</html>